html, body{
  height: 100%;
  margin: 0;
}

body{
  display: flex;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 1008px;
  margin: 0 auto;
}

.header {
  margin-top: 12px;
  /*margin-bottom: 15px;*/
  flex: 0 0 auto;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

@font-face {
  font-family: 'Europe';
  src: url('../fonts/EuropeNormal.eot');
  src: url('../fonts/EuropeNormal.eot?#iefix') format('embedded-opentype'),
      url('../fonts/EuropeNormal.woff2') format('woff2'),
      url('../fonts/EuropeNormal.woff') format('woff'),
      url('../fonts/EuropeNormal.ttf') format('truetype'),
      url('../fonts/EuropeNormal.svg#EuropeNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}


.phone-numbers {
  display : flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Europe";
  color: rgb( 235, 80, 23 );
  line-height: 1.111;
  text-align: left;
}


.header-nav {
  overflow: hidden;
  background-color: rgb( 35, 31, 32 );
  padding-left: 27px;
  font-size: 14px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  line-height: 1.488;
  display:flex;
  align-content: center;
  justify-content: center;
  
}

.header-nav a {
  white-space: nowrap;
  color: rgb( 255, 255, 255 );
  text-align: center;
  padding: 12px 35px;
  border-right: 1px solid rgb( 235, 80, 23 );
  
  text-decoration: none;
}

.header-nav a:last-child {
  border-right: initial;
}


.header-nav a:hover {
  background-color: rgb( 235, 80, 23 );
}


.breadcrumbs{
  margin-top: 14px;
  margin-bottom: 24px;
  padding-left: 21px;
  list-style: none;
  color: rgb( 35, 31, 32 );
}

.breadcrumbs li{
  display: inline;
  font-size: 12px;
  font-family: "Arial";
  text-align: left;
}

.breadcrumbs li+li:before{
  padding-right: 4px;
  content: "-";
  text-decoration: none;
}

.breadcrumbs a{
  color: rgb( 35, 31, 32 );
}



.main{
  flex: 1 0 auto;
}

.calc-block{
  background-color: rgb( 234, 239, 243, 0.4 );
  max-width: 652px;
  margin-left: 30px;
  height: 378px;
}

.calc-block h1{
  font-size: 30px;
  font-family: "Arial";
  font-weight: 400;
  color: rgb( 235, 80, 23 );
  line-height: 1.067;
  text-align: left;
  padding-left: 98px;
  padding-top: 19px;
  padding-bottom: 29px;
  margin: 0;
}

.calc-block-row{
  display: flex;
  font-size: 14px;
  font-family: "Arial";
  color: rgb( 0, 0, 0 );
  line-height: 2;
  margin-bottom: 15px;
}

.calc-block-row-caption{
  margin-right: 31px;
  width: 193px;
  text-align: end;
}

.calc-block-row-input{
  display: flex;
}

.calc-input-text{
  border: 1px solid rgb( 168,172,173);
  border-radius: 0;
  box-sizing: border-box;
  box-shadow:inset -1px -3px 3px -3px rgba(0,0,0,0.41);
  outline: none;
  padding: 7px;
  height: 23px;
  width: 88px;
}

select.calc-input-text {
  padding: 0;
  padding-left: 5px;
}


.date-placeholder-style::-webkit-input-placeholder {color: rgb( 0, 0, 0 );}
.date-placeholder-style::-moz-placeholder          {color: rgb( 0, 0, 0 );}/* Firefox 19+ */
.date-placeholder-style:-moz-placeholder           {color: rgb( 0, 0, 0 );}/* Firefox 18- */
.date-placeholder-style:-ms-input-placeholder      {color: rgb( 0, 0, 0 );}


.date-placeholder-style:focus::-webkit-input-placeholder {color: transparent}
.date-placeholder-style:focus::-moz-placeholder          {color: transparent}
.date-placeholder-style:focus:-moz-placeholder           {color: transparent}
.date-placeholder-style:focus:-ms-input-placeholder      {color: transparent}

.ui-datepicker{ z-index: 9999 !important;}

.slider-container{
  margin-top: 3px;
  margin-left: 18px;
}

.slider{
  width: 240px;
}

.slider-captions{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: "Verdana";
  color: rgb( 103, 103, 103 );
  font-style: italic;
}



.radio{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 9px;
  margin-left: 0;

}

.radio-label{
  margin-right:20px;
}


.calc-bottom-row{
  display:flex;
  margin-top: 9px;
  margin-left: 20px;
  margin-bottom: 30px;

  line-height: 2;
}

.calc-button{
  font-size: 12px;
  font-family: "Arial";
  color: rgb( 57, 83, 6 );
  font-weight: bold;

  outline: none;

  border-style: solid;
  border-width: 1px;
  border-color: rgb( 195, 196, 196 );
  border-radius: 7px;
  background-image: -moz-linear-gradient( 90deg, rgb( 124, 196, 0 ) 0%, rgb( 175, 243, 0 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 124, 196, 0 ) 0%, rgb( 175, 243, 0 ) 100%);
  box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
  width: 98px;
  height: 31px;
}

.calc-button:hover{
  background-image: -moz-linear-gradient( 90deg, rgb(118, 177, 0) 0%, rgb( 175, 243, 0 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(118, 177, 0) 0%, rgb( 175, 243, 0 ) 100%);
}

.calc-button:active{
  background-image: -moz-linear-gradient( 90deg,  rgb( 175, 243, 0 ) 100%, rgb( 124, 196, 0 ) 0%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 175, 243, 0 ) 100%, rgb( 124, 196, 0 ) 0%);
}

.result-caption{
  font-size: 14px;
  font-family: "Arial";
  color: rgb( 57, 83, 6 );
  font-weight: bold;

  margin-left: 25px;
}

.result{
  font-size: 14px;
  font-family: "Arial";
  margin-left: 6px;
}




.footer {
  flex: 0 0 auto;
  height: 61px;
  margin-top : 61px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 224, 224, 224 );
  background-color: rgb( 35, 31, 32 );
  padding: 12px 0 0 61px;
}

.footer-text {
  font-size: 12px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  line-height: 1.736;
  text-align: left;
  padding-left: 26px;
}
  